
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand ml-5" href="#">HAUI</a>

  <div class="collapse navbar-collapse " id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown ">
        <a
          class="nav-link dropdown-toggle"
          href="/display-DuAn/?page=1"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Dự án
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/display-DuAn/?page=1">Danh sách dự án</a>
          <a class="dropdown-item" href="/createg-DuAn">Thêm dự án</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="/display-CongViec/?page=1"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Công Việc
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/display-CongViec/?page=1"
            >Danh sách Công Việc</a
          >
          <a class="dropdown-item" href="/createg-CongViec">Thêm Công Việc</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="/createg-NguonLuc"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Nguồn lực
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/display-NguonLuc/?page=1"
            >Danh sách Nguồn lực</a
          >
          <a class="dropdown-item" href="/createg-NguonLuc">Thêm Nguồn lực</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="/createg-GCBT"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Ghi chú và bảo trì
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/display-GCBT/?page=1"
            >Danh sách ghi chú và bảo trì</a
          >
          <a class="dropdown-item" href="/createg-GCBT"
            >Thêm ghi chú và bảo trì</a
          >
        </div>
      </li>
      <div style="margin-left: 800px;">
       <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit" >Đăng xuất</a>
      </div>

  </div>
</nav>

